@media only screen and (min-width: 1698px) {

    /* video thum  */

    .section1 {
        gap: 20px;
    }
    .item {
        width: 24%;
        /* height: 256px; */
        /* width: 25%; */
        /* height: 12%; */
        /* margin: 10px 10px 32px 8px; */
        /* margin: 10px 10px 38px 10px; */
    
        margin: 0 8px 38px 8px;
        /* width: 25%; */
       
    }

    .item img {
        width: 100%;
    }

    .S-items {
    /* width: 400px; */
    width: 0%;

    }
    .S-items a img {
        /* flex-wrap: wrap; */
        /* width: 100% */
        /* height: 100px; */
        /* gap: 4px; */
    }
  

}


@media only screen and (max-width: 1698px) {
    
    .section1 {
        /* gap: 20px; */
    }
    .contents {
        gap: 15px;

    }
    .item {
        width: 24%;
        /* height: 256px; */
        /* width: 25%; */
        /* height: 12%; */
        /* margin: 10px 10px 32px 8px; */
        /* margin: 10px 10px 38px 10px; */
    
        margin: 0 0px 38px 0px;
        /* width: 25%; */
       
    }

    .item img {
        width: 100%;
    }
}


@media only screen and (max-width: 1481px){

    .item {
        width: 23.5%;
        /* width: 42%; */
        /* height: 256px; */
        /* width: 25%; */
        /* height: 12%; */
        /* margin: 10px 10px 32px 8px; */
        /* margin: 10px 10px 38px 10px; */
    
        margin: 0 1px 38px 1px;
        /* width: 25%; */
       
    }

    .item img {
        width: 100%;
    }
}

@media only screen and (max-width: 1316px){


    .item {
        width: 32%;
        /* height: 256px; */
            
    }

    .item img {
        width: 100%;
    }
    /* S contents  */

.S-Contents .S-items {
    /* flex-wrap: wrap; */
    width: 208px;
    /* height: 100px; */
}

.S-Contents a img {
    /* flex-wrap: wrap; */
    width: 100%;
    height: 315px;

}

}

@media only screen and (max-width: 1140px){

    .contents {
        margin-right: 8px;
    }
    .item {
        width: 32%;
        /* height: 256px; */
            
    }

    .item img {
        width: 100%;
    }
}

@media only screen and (max-width: 952px) {

    .item {
        width: 47%;
        /* height: 256px; */
            
    }

    .item {
        /* width: 30%; */
        /* width: 42%; */
        /* height: 256px; */
        /* width: 25%; */
        /* height: 12%; */
        /* margin: 10px 10px 32px 8px; */
        /* margin: 10px 10px 38px 10px; */
    
        margin: 0 0px 38px 5px;
        /* width: 25%; */
        gap: 0;
       
    }
}

@media only screen and (max-width: 682px)  {
    
}

